In [174]:
import pandas as pd
from sklearn.metrics import roc_auc_score

import numpy as np

In [175]:
import pandas as pd
from sklearn.metrics import roc_auc_score
import numpy as np

# Initialize a list to store AUC scores for all folds
all_auc_scores = []

for split_label in range(1, 4):
    predictions = pd.read_csv(f"predictions_split{split_label}.csv")
    y_test = pd.read_csv(f"y_test_split{split_label}.csv")
    
    # Compute AUC for each task
    for column in y_test.columns:
        # Get the predictions and true values for the current task
        y_true = y_test[column].values
        y_pred = predictions[column].values

        # Filter out -1 values
        valid_indices = y_true != -1
        y_true_valid = y_true[valid_indices]
        y_pred_valid = y_pred[valid_indices]

        # Compute AUC if there are valid data points
        if len(y_true_valid) > 0 and len(np.unique(y_true_valid)) > 1:
            auc = roc_auc_score(y_true_valid, y_pred_valid)
        else:
            auc = np.nan  # Not enough data to compute AUC

        all_auc_scores.append({"Fold": fold, "Task": column, "Cel_counter_model": auc})

# Convert to DataFrame for convenience
auc_df = pd.DataFrame(all_auc_scores)

auc_df

     Fold Task  Cel_counter_model
0       0    1           0.454545
1       0    2           0.685185
2       0    3           0.541667
3       0    4           0.571429
4       0    5           0.777778
..    ...  ...                ...
622     0  205           0.484848
623     0  206           0.516667
624     0  207           0.200000
625     0  208           0.115385
626     0  209           0.523214

[627 rows x 3 columns]

In [176]:
mean_auc = auc_df.groupby("Task").mean().reset_index(drop=False)
mean_auc

    Task  Fold  Cel_counter_model
0      1   0.0           0.648375
1     10   0.0           0.530050
2    100   0.0           0.457325
3    101   0.0           0.343655
4    102   0.0           0.424992
..   ...   ...                ...
204   95   0.0           0.470187
205   96   0.0           0.790890
206   97   0.0           0.760582
207   98   0.0           0.517021
208   99   0.0           0.371984

[209 rows x 3 columns]

In [177]:
len(mean_auc[mean_auc["Cel_counter_model"]==1])

0

In [178]:
len(mean_auc[mean_auc["Cel_counter_model"]>0.90])

0

In [179]:
mean_auc.to_csv("mean_auc_scores.csv")

In [180]:
median_auc = auc_df.groupby("Task").median().reset_index(drop=False)
median_auc.to_csv("meadian_auc_scores.csv")
median_auc

    Task  Fold  Cel_counter_model
0      1   0.0           0.673913
1     10   0.0           0.536842
2    100   0.0           0.510417
3    101   0.0           0.314516
4    102   0.0           0.422222
..   ...   ...                ...
204   95   0.0           0.470187
205   96   0.0           0.818182
206   97   0.0           0.750000
207   98   0.0           0.473118
208   99   0.0           0.360000

[209 rows x 3 columns]

In [181]:
len(median_auc[median_auc["Cel_counter_model"]==1])

0

In [182]:
len(median_auc[median_auc["Cel_counter_model"]>0.90])

0

In [183]:
import numpy as np
mean_auc["Task"] = mean_auc["Task"].astype(np.int64)
mean_auc

     Task  Fold  Cel_counter_model
0       1   0.0           0.648375
1      10   0.0           0.530050
2     100   0.0           0.457325
3     101   0.0           0.343655
4     102   0.0           0.424992
..    ...   ...                ...
204    95   0.0           0.470187
205    96   0.0           0.790890
206    97   0.0           0.760582
207    98   0.0           0.517021
208    99   0.0           0.371984

[209 rows x 3 columns]

In [184]:
assays = pd.read_csv("data/column-assay-index.csv", sep = ",").reset_index()
assays["index"] = assays["index"]+1
assays = assays[["CHEMBL_ID", "index"]]
assays

         CHEMBL_ID  index
0    CHEMBL1040691      1
1    CHEMBL1614544      2
2    CHEMBL1613914      3
3    CHEMBL1613836      4
4    CHEMBL1613838      5
..             ...    ...
204  CHEMBL3214913    205
205  CHEMBL3214967    206
206  CHEMBL3214906    207
207  CHEMBL3214970    208
208  CHEMBL3562077    209

[209 rows x 2 columns]

In [185]:
df = pd.merge(mean_auc, assays, left_on="Task", right_on="index")
df

     Task  Fold  Cel_counter_model      CHEMBL_ID  index
0       1   0.0           0.648375  CHEMBL1040691      1
1      10   0.0           0.530050  CHEMBL1614441     10
2     100   0.0           0.457325  CHEMBL1963901    100
3     101   0.0           0.343655  CHEMBL1963903    101
4     102   0.0           0.424992  CHEMBL1963911    102
..    ...   ...                ...            ...    ...
204    95   0.0           0.470187  CHEMBL1963885     95
205    96   0.0           0.790890  CHEMBL1963887     96
206    97   0.0           0.760582  CHEMBL1963889     97
207    98   0.0           0.517021  CHEMBL1963895     98
208    99   0.0           0.371984  CHEMBL1963900     99

[209 rows x 5 columns]

In [186]:
df = df[["CHEMBL_ID", "Cel_counter_model"]]
df.to_csv("mean_auc_scores.csv", index=False)
df

         CHEMBL_ID  Cel_counter_model
0    CHEMBL1040691           0.648375
1    CHEMBL1614441           0.530050
2    CHEMBL1963901           0.457325
3    CHEMBL1963903           0.343655
4    CHEMBL1963911           0.424992
..             ...                ...
204  CHEMBL1963885           0.470187
205  CHEMBL1963887           0.790890
206  CHEMBL1963889           0.760582
207  CHEMBL1963895           0.517021
208  CHEMBL1963900           0.371984

[209 rows x 2 columns]