In [7]:
import pandas as pd

In [30]:
df = pd.read_csv("label-matrix.mtx", sep = " ")
df

       compoundid  task  activity
0            6538     1         1
1            6543     1         1
2            6544     1         1
3            6553     1        -1
4            6690     1        -1
...           ...   ...       ...
55537       10071   209        -1
55538       10080   209        -1
55539       10163   209        -1
55540       10197   209        -1
55541       10490   209        -1

[55542 rows x 3 columns]

In [31]:
compounds = pd.read_csv("row-compound-index.csv", sep = ",")
compounds

       INDEX                     INCHIKEY
0          0  IENZQIKPVFGBNW-UHFFFAOYSA-N
1          1  GSDSWSVVBLHKDQ-UHFFFAOYSA-N
2          2  CGIGDMFJXJATDK-UHFFFAOYSA-N
3          3  DSXXEELGXBCYNQ-UHFFFAOYSA-N
4          4  MYSWGUAQZAJSOK-UHFFFAOYSA-N
...      ...                          ...
10569  10569  YAJYINBQFXCAPI-WENCSYSZSA-N
10570  10570  DIBJIDYNEHVBAV-KFRKLSNLSA-N
10571  10571  YAJYINBQFXCAPI-PFPZSTESSA-N
10572  10572  YAJYINBQFXCAPI-RZIGYZOXSA-N
10573  10573  YAJYINBQFXCAPI-XJGOYTCSSA-N

[10574 rows x 2 columns]

In [32]:
df = pd.merge(df, compounds, left_on="compoundid", right_on="INDEX")
df

       compoundid  task  activity  INDEX                     INCHIKEY
0            6538     1         1   6538  SWIUQBFXLZSMJW-UHFFFAOYSA-N
1            6538     2        -1   6538  SWIUQBFXLZSMJW-UHFFFAOYSA-N
2            6538     3        -1   6538  SWIUQBFXLZSMJW-UHFFFAOYSA-N
3            6538     4        -1   6538  SWIUQBFXLZSMJW-UHFFFAOYSA-N
4            6538     5        -1   6538  SWIUQBFXLZSMJW-UHFFFAOYSA-N
...           ...   ...       ...    ...                          ...
55527        9781   209        -1   9781  YNOIPTRKOYGMCT-UHFFFAOYSA-N
55528        9855   209        -1   9855  QHTRHHVBBSPOHC-PWHSHALESA-N
55529       10014   209        -1  10014  HITOKJYCRKZWGL-DWIXIZSHSA-N
55530       10197   209        -1  10197  CRECGCTYSBAAAJ-GVJSHHSGSA-N
55531       10490   209        -1  10490  QQFBCVYCCQBHCE-IQKBUIRBSA-N

[55532 rows x 5 columns]

In [33]:
df.task.nunique()

209

In [34]:
assays = pd.read_csv("column-assay-index.csv", sep = ",").reset_index()
assays["index"] = assays["index"]+1
assays

     index  ASSAY_ID
0        1    600885
1        2    688422
2        3    688493
3        4    688810
4        5    688812
..     ...       ...
204    205   1301866
205    206   1301890
206    207   1301859
207    208   1301893
208    209   1495346

[209 rows x 2 columns]

In [42]:
assays[assays["ASSAY_ID"]==737357]

    index  ASSAY_ID
46     47    737357

In [35]:
assays.index.nunique()

209

In [36]:
df = pd.merge(df, assays, left_on="task", right_on="index")
df

,compoundid,task,activity,INDEX,INCHIKEY,index,ASSAY_ID
0,6538,1,1,6538,SWIUQBFXLZSMJW-UHFFFAOYSA-N,1,600885
1,6543,1,1,6543,QOMJXOZGZZSHKH-UHFFFAOYSA-N,1,600885
2,6544,1,1,6544,OROHWSNJKUHQRF-UHFFFAOYSA-N,1,600885
3,6553,1,-1,6553,LLZGEIHNFCBNLX-UHFFFAOYSA-N,1,600885
4,6690,1,-1,6690,JXYHCJMZBZTZGS-UHFFFAOYSA-N,1,600885
...,...,...,...,...,...,...,...
55527,9106,47,-1,9106,GJNVYCCWYGSTRP-UHFFFAOYSA-N,47,737357
55528,9120,47,1,9120,UMRGNIRTRURPLM-UHFFFAOYSA-N,47,737357
55529,9232,47,-1,9232,FAWHFVHQHDNGSK-UHFFFAOYSA-N,47,737357
55530,9297,47,1,9297,PNVJTZOFSHSLTO-UHFFFAOYSA-N,47,737357
55531,9309,47,-1,9309,DLICXRANLDJSBY-UHFFFAOYSA-N,47,737357

In [37]:
df.task.nunique()

209

In [38]:
# Set the index to 'assay'
df.set_index('ASSAY_ID', inplace=True)

# Create a new DataFrame to ensure 'assay' becomes columns with 'activity' values
df_pivot = df.pivot_table(index='INCHIKEY', columns='task', values='activity')
df_pivot.reset_index(drop=True)

df_pivot

task,1,2,3,4,5,6,7,8,9,10,...,200,201,202,203,204,205,206,207,208,209
INCHIKEY,,,,,,,,,,,,,,,,,,,,,
AACRWZVDRSTLKY-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AACUKVXTFOXDGE-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AADCDMQTJNYOSS-LBPRGKRZSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AADORYZVGJDNSZ-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AAEVYOVXGOFMJO-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZZUCJGSOKDNIEZ-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZZUFCTLCJUWOSV-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN
ZZUZYEMRHCMVTB-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZZVUWRFHKOJYTH-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN
ZZZPZDFBUDZIOU-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# Resetting the index to make the 'INCHIKEY' a new column
df_pivot.reset_index(inplace=True)
df_pivot.rename(columns={'index': 'INCHIKEY'}, inplace=True)
df_pivot

task,INCHIKEY,1,2,3,4,5,6,7,8,9,...,200,201,202,203,204,205,206,207,208,209
0,AACRWZVDRSTLKY-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AACUKVXTFOXDGE-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AADCDMQTJNYOSS-LBPRGKRZSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AADORYZVGJDNSZ-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAEVYOVXGOFMJO-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10568,ZZUCJGSOKDNIEZ-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10569,ZZUFCTLCJUWOSV-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN
10570,ZZUZYEMRHCMVTB-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10571,ZZVUWRFHKOJYTH-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN
10572,ZZZPZDFBUDZIOU-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
import numpy as np
# Setting inactives to 0, actives to 1, and no data to -1
df_pivot = df_pivot.replace(-1, 0)
df_pivot = df_pivot.replace(np.nan, -1)
df_pivot

task,INCHIKEY,1,2,3,4,5,6,7,8,9,...,200,201,202,203,204,205,206,207,208,209
0,AACRWZVDRSTLKY-UHFFFAOYSA-N,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,AACUKVXTFOXDGE-UHFFFAOYSA-N,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,AADCDMQTJNYOSS-LBPRGKRZSA-N,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,AADORYZVGJDNSZ-UHFFFAOYSA-N,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,AAEVYOVXGOFMJO-UHFFFAOYSA-N,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10568,ZZUCJGSOKDNIEZ-UHFFFAOYSA-N,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
10569,ZZUFCTLCJUWOSV-UHFFFAOYSA-N,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
10570,ZZUZYEMRHCMVTB-UHFFFAOYSA-N,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
10571,ZZVUWRFHKOJYTH-UHFFFAOYSA-N,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
10572,ZZZPZDFBUDZIOU-UHFFFAOYSA-N,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [43]:
df_pivot[df_pivot["INCHIKEY"]=="PNVJTZOFSHSLTO-UHFFFAOYSA-N"][47]

6304    1.0
Name: 47, dtype: float64

In [44]:
Seal_assays = ['CHEMBL1613870', 'CHEMBL1741321', 'CHEMBL1741322', 'CHEMBL1741323',
       'CHEMBL1741324', 'CHEMBL1741325', 'CHEMBL1909087', 'CHEMBL1909088',
       'CHEMBL1909089', 'CHEMBL1909090', 'CHEMBL1909091', 'CHEMBL1909092',
       'CHEMBL1909104', 'CHEMBL1909105', 'CHEMBL1909108', 'CHEMBL1909109',
       'CHEMBL1909110', 'CHEMBL1909130', 'CHEMBL1909140', 'CHEMBL1909141',
       'CHEMBL1909150', 'CHEMBL1909156', 'CHEMBL1909170', 'CHEMBL1909172',
       'CHEMBL1909173', 'CHEMBL1909174', 'CHEMBL1909211', 'CHEMBL5291729',
       'CHEMBL5291731', 'CHEMBL5291732', 'CHEMBL5291736', 'CHEMBL5291737',
       'CHEMBL5291738', 'CHEMBL5291742', 'CHEMBL5291749', 'CHEMBL5291761',
       'CHEMBL5291763', 'CHEMBL5291766', 'CHEMBL5291767', 'CHEMBL5291779',
       'CHEMBL5291781', 'CHEMBL5291782', 'CHEMBL5291809', 'CHEMBL5291811',
       'CHEMBL5291815', 'CHEMBL5291818', 'CHEMBL5291822', 'CHEMBL5291823',
       'CHEMBL5291828', 'CHEMBL5291850', 'CHEMBL5291863', 'CHEMBL5291882',
       'CHEMBL5291891', 'CHEMBL5291892', 'CHEMBL5291899', 'CHEMBL5291901',
       'CHEMBL5291911']

In [48]:
Hoffmarcher_assays = pd.read_csv("column-assay-index.csv", sep = ",")
Hoffmarcher_assays

     ASSAY_ID      CHEMBL_ID
0      600885  CHEMBL1040691
1      688422  CHEMBL1614544
2      688493  CHEMBL1613914
3      688810  CHEMBL1613836
4      688812  CHEMBL1613838
..        ...            ...
204   1301866  CHEMBL3214913
205   1301890  CHEMBL3214967
206   1301859  CHEMBL3214906
207   1301893  CHEMBL3214970
208   1495346  CHEMBL3562077

[209 rows x 2 columns]

In [49]:
Hoffmarcher_assays[Hoffmarcher_assays.CHEMBL_ID.isin(Seal_assays)]

    ASSAY_ID      CHEMBL_ID
30    737822  CHEMBL1741321
31    737826  CHEMBL1741325
32    737823  CHEMBL1741322
33    737824  CHEMBL1741323
34    737825  CHEMBL1741324

In [50]:
df_pivot[31].value_counts()

-1.0    9741
 0.0     595
 1.0     237
Name: 31, dtype: int64

In [53]:
df_pivot[["INCHIKEY", 31]].to_csv("Hofmarcher_CHEMBL1741321.csv")

In [55]:
Seal_CHEMBL1741321 = pd.read_csv("Seal_CHEMBL1741321.csv")
Hofmarcher_CHEMBL1741321 = pd.read_csv("Hofmarcher_CHEMBL1741321.csv")

In [ ]:
Seal_CHEMBL1741321

      Unnamed: 0 Standardized_InChIKey_chembl  CHEMBL1741321
0              0  SXJIZQPZESTWLD-UHFFFAOYSA-N            0.0
1              1  NBLBCGUCPBXKOV-UHFFFAOYSA-N            0.0
2              2  COBBNRKBTCBWQP-UHFFFAOYSA-N            1.0
3              3  GUGOEEXESWIERI-UHFFFAOYSA-N            NaN
4              4  QELUYTUMUWHWMC-UHFFFAOYSA-N            0.0
...          ...                          ...            ...
1407        1407  LKHRMULASXZCLG-UHFFFAOYSA-N            NaN
1408        1408  YJDAOHJWLUNFLX-UHFFFAOYSA-N            1.0
1409        1409  INJOMKTZOLKMBF-UHFFFAOYSA-N            0.0
1410        1410  JNMRHUJNCSQMMB-UHFFFAOYSA-N            0.0
1411        1411  NXRCDGIGKSHKAP-UHFFFAOYSA-N            0.0

[1412 rows x 3 columns]

In [65]:
Hofmarcher_CHEMBL1741321 = Hofmarcher_CHEMBL1741321[Hofmarcher_CHEMBL1741321["31"]!=-1]
Hofmarcher_CHEMBL1741321["31"].value_counts()

0.0    595
1.0    237
Name: 31, dtype: int64

In [66]:
Hofmarcher_CHEMBL1741321

       Unnamed: 0                     INCHIKEY   31
2               2  AADCDMQTJNYOSS-LBPRGKRZSA-N  1.0
45             45  ACHZMBMZCATIQR-UHFFFAOYSA-N  0.0
46             46  ACIMRXKJKQGBGL-UHFFFAOYSA-N  0.0
94             94  AFMKTQHRDBNAKW-UHFFFAOYSA-N  0.0
99             99  AGCSFEMNYLPWSY-UHFFFAOYSA-N  0.0
...           ...                          ...  ...
10517       10517  ZWJINEZUASEZBH-UHFFFAOYSA-N  0.0
10525       10525  ZWTHDTTXRWOJMY-UHFFFAOYSA-N  0.0
10533       10533  ZXNRTKGTQJPIJK-UHFFFAOYSA-N  0.0
10555       10555  ZZDGNBWCSPZNRU-UHFFFAOYSA-N  0.0
10569       10569  ZZUFCTLCJUWOSV-UHFFFAOYSA-N  0.0

[832 rows x 3 columns]